{% comment %}
Base template

Author: Sajia Akhter, sajia@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2014-01-02
{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

{% load static %}

<head>
	{% block head %}
	<!-- meta data -->
	<title>{% block head_title %}WholeCellKB{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Cache-Control" content="NO-CACHE" />
	<meta http-equiv="Pragma" content="NO-CACHE" />
	<meta name="description" content="Comprehensive knowledge base of cell physiology." />
	<meta name="keywords" content="cell, systems, biology, computational, database, modeling" />
	<meta name="author" content="Covert Lab, Stanford University" />
	<meta name="revised" content="2012" />
	<meta name="copyright" content="&copy; Covert Lab, Stanford University 2008-2012" />
	<meta name="google-site-verification" content="Vdho9XJAyUBzyApnbEsjy8m6CsLjNEI12c8wqVVpsS8" />
	
	{% if species %}
	<!-- meta name="species_wid" content="{{ species.wid }}" /-->
	<meta name="species_name" content="{{ species.name }}" />
	{% endif %}	
	
	<!-- style -->
	{% if not is_pdf %}
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}public/css/jquery-ui-1.8.23.custom.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}public/css/PTSans.min.css" />
	{% endif %}
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}public/css/styles.css" />	
	<link rel="stylesheet" type="text/css" media="print" href="{% get_static_prefix %}public/css/styles.print.css" />
	<style type="text/css" media="print">
	{{ pdfstyles }}
	</style>
	<style type="text/css" media="all">{% block extrastyles %}{% endblock %}</style>
	
	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% get_static_prefix %}public/favicon.ico">	
	
	<!-- javascript -->
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/jquery-1.8.0.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/jquery-ui-1.8.23.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.axislabels.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.pie.min.js"></script>
	<!–[if lte IE 8]>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/excanvas.min.js"></script>
	<![endif]–>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/evidence.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/tooltip.js"></script>
	
	<!-- google analytics -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-34992113-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	{% endblock %}
</head>
<body>
	<!-- header -->
	<div id="header" class="ui-widget-header">
		<div class="title"><a href="{% url public.views.index %}">{{ species.name }}</a></div>
		<div class="banner"><a href="{% url public.views.index %}"><img src="{% get_static_prefix %}public/img/banner.png" /></a></div>
	<!-- SEARCH WAS HERE!!! -->
		
		
		<ul class="menu">
			<li><a href="#">Home</a>
				<ul>
				{% for species in species_list %}
				<li><a href="{{ species.get_absolute_url }}"><i>{{ species.name }}</i></a></li>
				{% endfor %}
				</ul>
			</li>
			<li class="spacer"/>
			<li><a href="#">Browse</a>
				<ul>
				{% if species %}
				{% for key1 in modelnames %}
					{% for key2, modelmetadata in modelmetadatas.iteritems %}
						{% if key1 == key2 %}
					<li><a href="{% url public.views.list species_name=species.name model_type=key2 %}">{{ modelmetadata.verbose_name_plural }}</a></li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% endif %}
				</ul>
			</li>
			<li class="spacer"/>
			<li><a href="#">Download</a>
				<ul>
				<li><a href="">Data</a></li>
				<li><a href="">Source code</a></li>
				</ul>
			</li>
			{% if request.user.is_authenticated %}
			<li class="spacer"/>
			<li><a href="fsdfdsfs">Import</a></li>
				{% if species %}
			<li class="spacer"/>
			<li><a href="dfdsfdfdfg">Validate</a></li>
				{% endif %}
			<li class="spacer"/>
			<li><a href="sdfsdfdsgfdsfg">Contributors</a></li>
			{% endif %}
			<li class="spacer"/>
			<li><a href="#">Help</a>
				
			</li>
		</ul>
	</div>
		
	<div id="main">
		<!-- content -->
		<div id="content">
		<h1>{% block page_title %}{% endblock %}</h1>
		{% block content %}{% endblock %}		
		</div>
	</div>
		
	<!-- footer -->
	<div id="footer" class="ui-widget-header">
		<div class="left">
		</div>
		
		<div class="center"> Contact: <a href="mailto:wholecell@lists.stanford.edu">wholecell@lists.stanford.edu</a>.<br/> 
			&copy; <a href="http://covertlab.stanford.edu">Covert Lab</a>, <a href="http://www.stanford.edu">Stanford University</a> 2013-2014.		
		</div>
	</div>	
	
	<!-- modal -->
	<div id="modal"></div>
	
	<!-- tooltip -->
	<div id="tooltip" class="ui-widget-header ui-corner-all"></div>
</body>
</html>
