## How to set up a Python runtime environment for the Whole Cell Model.
## (See docs/create-pyenv.md for more details.)
## (See docs/dev-tools.md for prerequisites such as installing command line
## tools, additional SDK headers, and adding pyenv init to your shell.)
#
## Install these packages using your local package manager such as homebrew on macOS:
#   brew install pyenv pyenv-virtualenv pyenv-virtualenvwrapper
#   brew install glpk openssl readline swig suite-sparse xz
#
## Optional: Download and install other packages according to their instructions
## or take a wait-and-see approach with them:
#	CPLEX from IBM (free for students)
#
## Install the required version of Python via pyenv, and remember to enable it as
## a shared library:
#   PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 2.7.16
#
## Create the "wcEcoli-paper" python virtual environment and select it for your project
## directory (adjust this for where you keep your git repo clones, e.g. ~/dev/):
#   cd ~/dev/wcEcoli
#   pyenv local 2.7.16
#   pyenv virtualenv wcEcoli-paper
#   pyenv local wcEcoli-paper
#
## Upgrade this virtual environment's installers:
#   pip install pip==20.1.1 setuptools==44.1.1 virtualenv==16.4.1 virtualenv-clone==0.5.1 virtualenvwrapper==4.8.4 wheel==0.34.2
#
## Install OpenBLAS 0.3.5 or later using your package manager or download and
## build it from source. (Earlier releases of OpenBLAS had threading bugs. So
## does Apple's "Accelerate" framework and Intel's Math Kernel Library, so don't
## use those substitutes.) See docs/create-pyenv.md for instructions if you need
## to download and build OpenBLAS.
#
## Create ~/.numpy-site.cfg pointing to your openblas installation.
## (Brew installs openblas in /usr/local/opt/openblas/. Building it from source,
## you might've installed it in /opt/OpenBLAS/.)
#    [openblas]
#    libraries = openblas
#    library_dirs = /usr/local/opt/openblas/lib
#    include_dirs = /usr/local/opt/openblas/include
#
## Install NumPy linked to this OpenBLAS thanks to ~/.numpy-site.cfg:
#   pip install numpy==1.14.6 --no-binary numpy
#
## Install the packages listed in this file (SciPy will also use ~/.numpy-site.cfg):
#   CVXOPT_BUILD_GLPK=1 pip install -r requirements.txt --no-binary numpy,scipy,cvxopt; pyenv rehash
#
## Configure the installed matplotlib per the instructions in docs/create-pyenv.md

appnope==0.1.0
astroid==1.6.5
atomicwrites==1.1.5
attrs==18.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
biopython==1.72
bokeh==0.11.1  # bokeh==0.12+ require changes
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
coverage==4.5.1
cplex==12.8.0.0
CVXcanon==0.1.1
cvxopt==1.1.7  # cvxopt==1.2.0 installs on OSX but not on Sherlock
cvxpy==1.0.6
cycler==0.10.0
Cython==0.28.4
decorator==4.3.0
dill==0.2.8.2
docutils==0.14
ecos==2.0.5
enum34==1.1.6
Equation==1.2.1
fastcache==1.0.2
FireWorks==1.8.7
Flask==1.0.2
flask-paginate==0.5.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gnureadline==6.3.8
gunicorn==19.7.1
idna==2.6
ipdb==0.11
ipython==5.7.0  # 6.0+ are for Python 3
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
line-profiler==2.1.2
MarkupSafe==1.0
matplotlib==2.2.2
matplotlib-venn==0.11.5
mccabe==0.6.1
memory-profiler==0.52.0
mock==2.0.0
monty==1.0.3
more-itertools==4.2.0
mpmath==1.0.0
multiprocess==0.70.6.1
nbformat==4.4.0
nose==1.3.7
numpy==1.14.6
optlang==1.4.2
osqp==0.4.1
packaging==17.1
pandas==0.22.0  # pandas 0.23+ releases have backwards incompatible API changes
path.py==11.0.1
pathlib==1.0.1
pathlib2==2.3.3
pbr==4.1.0
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
psutil==5.6.6
ptyprocess==0.6.0
py==1.5.4
py-cpuinfo==4.0.0
Pygments==2.2.0
pylint==1.9.2
pymongo==3.6.1
pyparsing==2.2.0
pytest==3.6.3
pytest-benchmark==3.1.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
requests==2.21.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.94
scandir==1.7
scipy==1.0.1
scs==2.0.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
statistics==1.0.3.5
subprocess32==3.5.2
swiglpk==1.4.4
sympy==1.1.1
tabulate==0.8.2
Theano==1.0.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.0
traitlets==4.3.2
typing==3.6.6
Unum==4.1.4
urllib3==1.24.2
virtualenv==16.4.1
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
wcwidth==0.1.7
Werkzeug==0.15.3
wrapt==1.10.11
xlrd==1.1.0
